*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default font-size is 16px. 62.5% = 10px*/
  // this defines what 1rem is
  // font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0;
}
