@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "themes/light";
@import "themes/dark";

@import "components/v-card";

.p-relative {
  position: relative;
}

.h-100 {
  height: 100%;
}


.fix-v-select {
  .v-select__selections {
    min-width: 218px !important; /* Apparently there's a hidden input 218px large which f*ck's up the width when the input has multiple selected values */
  }
  .v-select__selections input {
    display: none;
  }
}